{%extends 'base.html'%}
{%block content%}

<div class="my-5">

    {%if messages%}
        {%for message in messages%}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>
                    {%if message.level == DEFAULT_MESSGAE_LEVEL.ERROR%}
                        Error:
                    {%else%}
                        {{message.tags | title}}
                    {%endif%}
                </strong> 
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {%endfor%}
    {%endif%}

    <form action="{% url 'signup' %}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>

</div>

{%endblock%}